@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://use.typekit.net/rfo7yex.css");

:root {
	--darkpurple: #050224;
	--lighterpurple: #0a042d;
	--highlightpurple: #6640a0;
	--purplewhite: #d1b4ea;
	--blueoverlay: #181c49;
	--yellow: #FBB22E;
	--blue: #3C8EFF;
	--green: #168C39;
	--red: #EE2F4D;
	--gray: #868686;
	--offwhite: rgba(255, 255, 255, 0.9);
	--lighteroverlay: rgba(255,255,255,.04)
}

body {
	font-family: 'sofia-pro', sans-serif;
	font-weight: 200;
	background-color: var(--lighterpurple);
	color: #d1cde2;
}

h1 {
	font-size: 30px;
	font-family: 'sofia-pro', sans-serif;
	color: white;
	font-weight: 200;
}


h2 {
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: var(--offwhite);
	font-size: 20px;
	font-weight: 200;
}

h3 {
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: var(--offwhite);
	font-size: 15px;
	font-weight: 200;
}

h5 {
	font-family: 'sofia-pro', sans-serif;
	font-size: 14px;
	font-weight: 200;
}

h6 {
	font-family: 'sofia-pro', sans-serif;
	font-size: 13px;
	font-weight: 200;
}


.small-title {
	text-transform: uppercase;
	letter-spacing: .15em;
	text-align: center;
	font-size: 15px;
	color: white;
	margin: 40px 15px;
}

.slideDiv {
	display: flex;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 712px;
	padding: 8% 8% 8% 8%;
}

.padding-bottom{
	padding-bottom: 50px;
}

.padding-top-thin{
	padding-top: 4%;
}

#slide1{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.vertCenterDiv{
	display: block;
	align-items: center;
}

.center{
	text-align: center;
}

#animation {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

#animation-div {
	opacity: 0;
}

#slide2{
	padding-top: 15%;
	vertical-align: middle;
	text-align: center;
}


.homepage-container {
	position: absolute;
	z-index: 1000;
	display: flex;
	display: block;
	align-items: center;
	text-align: left;
	bottom: 60px;
	left: 0px;
	padding: 30px 60px;
	background-color: rgba(10,4,45,.6);
	border-radius: 0 10px 10px 0;
}

#subheading {
	font-weight: 300;
	font-size: 2.1vw;
	color: #a167fd;
	line-height: 1em;
	letter-spacing: .05em;
	margin-bottom: 0px;
	margin-top: 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	opacity: 0;

}

#underline {
	margin-top: 30px;
	width: 70px;
	border-bottom: solid 2px white;
	opacity: 0;
}

.introDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lighteroverlay);
}

.backgroundDiv {
	background-color: var(--lighteroverlay);
}

.noPadding{
	padding: 0px;
}

.margin15{
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#title{
	font-size: 4vw;
	font-weight: 700;
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: .10em;
	margin-bottom: 10px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	opacity: 0;

}

#subtitle{
	font-weight: 400;
	font-size: 1.7vw;
	color: rgba(255,255,255,.8);
	line-height: 1em;
	letter-spacing: .05em;
	margin-bottom: 30px;
	margin-top: 30px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
	opacity: 0;

}

#title-img{
	width: 50%;
	height: auto;
}

.olympic-blue{
	color: var(--blue);
}

.background-grey {
	background-color: var(--darkpurple);
}

#vis1-img{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.width-100{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.height-100{
	height: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#measure-vis {
	width: 100%;
	margin: 0 auto;
	height: 90%;
}

.svgTitle {
	font-family: 'Roboto Light', sans-serif;
	font-weight: 300;
	color: var(--gray);
	font-size: 20px;
}

.axis line,
.axis path {
	fill: none;
	stroke: var(--gray);
	shape-rendering: crispEdges;
}

.athlete-weight-height {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 70vh;
	border-radius: 7px;
	margin-top: 20px;
}

.measures-left {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}

.athlete-gender-age {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 40vh;
	padding: 20px;
}

.toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.bootstrap-table {
	overflow-y: scroll;
	border-radius: 5px;
	background-color: var(--lighterpurple);
	color: var(--offwhite);
	width: 100%;
}

.fixed-table-container {
	width: 100%;
}

table.table-bordered{
	border: none;
}

.fixed-table-border{
	border: none;
}
.bootstrap-table .fixed-table-container.fixed-height .table thead th + th {
	border: none;
	box-shadow: 4px 0 0px -2px var(--lighterpurple) inset;
}
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
	border-bottom: none;
}

.fixed-table-footer {
	display: none;
}

thead {
	border-radius: 0;
	border: 2px solid var(--lighterpurple);
}

table.table-bordered > thead > tr > th{
	border: none;
}
table.table-bordered > tbody > tr > td{
	border: none;
}

th {
	font-weight: 300;
	font-size: 14px;
	background-color: var(--lighteroverlay)
}

.header{
	position:sticky;
	top: 0 ;
}

#gender-ratio {
	width: 100%;
	height: 100%;
}

#age-range {
	width: 100%;
	height: 100%;
}

.weight-height-vis-container {
	height: 60%;
	background-color: var(--darkpurple);
	padding: 17px;
	border-radius: 5px;
}

.weight-height-vis-container h2, .gender-age-vis-container h2 {
	color: var(--offwhite);
}

.gender-age-vis-container {
	height: 18%;
	background-color: var(--darkpurple);
	padding: 17px;
	border-radius: 5px;
	margin-top: 2%;
}

.weight-height-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10%;
}

#measure-vis {
	width: 100%;
	margin: 0 auto;
	height: 85%;
}

/*Slide 2: User physical trait vis style*/
.user-sports-guess-dashboard {
	height: 70vh;
}


#userAge, #userGender, #userHeightFt, #userHeightIn, #userWeight {
	display: flex;
	margin-bottom: .5rem;
	height: 35px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 200;
	border: 1px solid #969196;

}

#userAge, #userGender,#userWeight {
	background-color: var(--lighterpurple);
	border: 1px solid #969196;
	border-radius: 2px;
	color: var(--offwhite);
	font-weight: 200;
	outline: none;
}

input:focus {
	background-color: var(--lighterpurple);
}

.form-group.row {
	margin-top: 20px;
}

#userHeightFt, #userHeightIn {
	background-color: var(--lighterpurple);
	border: 1px solid #969196;
	border-radius: 2px;
	color: var(--offwhite);
	font-weight: 200;
	outline: none;
	width: 25%;
}

::placeholder {
	color: var(--offwhite);
}
#userGender {
	height: 30px;
	border: 1px solid #969196;
	color: var(--offwhite);
	background-color: var(--lighterpurple);
	outline: var(--lighterpurple);
}

.user-physical-trait {
	display: flex;
	flex-direction: column;
	height: 70vh;
}

#user-physical-trait-vis {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}

.user-input {
	display: flex;
	height: 70vh;
	flex-direction: column;
	justify-content: space-between;
}

.user-input-values {
	background-color: var(--lighteroverlay);
	border-radius: 7px;
	flex-grow: 1;
}

.user-input-header {
	background-color: var(--lighteroverlay);
	border-radius: 7px;
	margin-bottom: 10px;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: .15em;
	text-align: center;
	font-size: 15px;
	color: white;
}

#btn-physical {
	background-color: var(--highlightpurple);
	color: white;
	font-weight: 200;
	margin-bottom: 20px;
	padding: 5px 15px;
	border-radius: 3px;
	border: 1px solid var(--lighterpurple);
	font-family: 'sofia-pro', sans-serif;
}

#btn-physical:hover {
	background-color: #7643c4;
}

.node-labels {
	text-anchor: middle;
}

#nodeTooltip {
	font-family: 'sofia-pro', sans-serif;
	color: var(--darkpurple);
	border: thin solid #d0cccc;
	border-radius: 5px;
	background: #D0CCCC;
	padding: 10px
}

#physical-vis-table {
	padding:10px;
	width: 80%;
	margin: 0px auto;
}

.bubble-legend-circles {
	fill: none;
	stroke: rgba(255,255,255,.5);
}

.bubble-legend-lines {
	stroke: white;
	stroke-dasharray: 2,2;
}

.bubble-legend-labels {
	fill: rgba(255,255,255,.7);
	font-size: 12px;
	text-anchor: middle;
}

.income-plot-dashboard {
	width: 100%;
	height: 60vh;
	border-radius: 10px;
}

.hometown-column {
	height: 70vh;
}

/*Slide 5: Athlete hometown map*/

.hometown-map-dashboard {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 70vh;
	margin-top: 20px;
}

#household-income-map {
	height: 100%;
	width: 100%;
}

#incomeMapTooltip, #parallelTooltip, #incomeChartTip {
	border: thin solid grey;
	border-radius: 5px;
	background: var(--darkpurple);
	padding: 10px;
}

#income-map-tooltip-title {
	color: #ee2f4d;
	font-weight: 300;
	font-size: 15px;
}

.text-light {
	color: #d1cde2;
}

#income-map-text {
	color: #ee2f4d;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill: rgb(158, 202, 225); }
.q4-9 { fill: rgb(107, 174, 214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill: rgb(8, 81, 156); }
.q8-9 { fill: rgb(8, 48, 107); }

.income-legend-label {
	fill: #d1cde2;
	font-size: 13px;
}

.hometown-map-left {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}


.font300{
	font-weight: 300;
}

.color-key {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.color-key span {
	margin: 0 10px;
}

.green {
	width: 12px;
	height: 12px;
	background-color: green;
}

.orange {
	margin-left: 30px;
	width: 12px;
	height: 12px;
	background-color: orange;
}

#gender {
	padding: 10px;
	margin-left: 10px;
	background-color: var(--lighteroverlay);
	border-radius: 5px;
	border: none;
	color: var(--offwhite);
	font-weight: 400;
}

.x-grid path {
	stroke: none;
}

.x-grid .tick line {
	stroke: rgba(255,255,255,.1)
}

.gender-line {
	stroke: rgba(255,255,255,.1)
}

.count {
	fill: rgba(255,255,255,.4);
	font-weight: 300;
}

.toggleIncome {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
}

#toggleIncomeMap, #toggleIncomeSeason {
	padding: 10px;
	margin-left: 10px;
	background-color: var(--lighteroverlay);
	border-radius: 5px;
	border: none;
	color: var(--offwhite);
	font-weight: 400;
}

#toggleIncomeMapLabel {
	margin-left: 10px;
	padding: 5px;
}

#toggleIncomeSeasonLabel {
	padding: 5px;
	margin-left: 40px;
}


#toggleIncomePlotLabel {
	font-size: 14px;
	padding: 5px;
	float: right;
}

#toggleIncomePlot {
	width: 140px;
	padding: 5px;
	margin-left: 10px;
	background-color: var(--lighterpurple);
	border-radius: 2px;
	color: var(--offwhite);
	font-weight: 400;
}

#gdp-vis {
	width: 100%;
	height: 70vh;
	background-color: var(--blueoverlay);
	border-radius: 7px;
}

.grid line {
	stroke: var(--darkpurple);
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

.hostLegend {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 15%;
}

#hostVisLegend {
	padding: 5px;
}

#hostVisSelect {
	padding: 10px;
	margin-left: 10px;
	background-color: var(--lighteroverlay);
	border-radius: 5px;
	border: none;
	color: var(--offwhite);
	font-weight: 400;}

.host-country-wins {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 55vh;
	padding: 15px;
	border-radius: 10px;
}

.hostDashboard{
	height: 70vh;
	background-color:var(--darkpurple);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.hostBlueDot {
	width: 12px;
	height: 12px;
	background-color: green;
}

text.hostPlotLabel .incomePlotLabel {
	color: #d1cde2;
	fill: #d1cde2;
}

.gdp-tooltip {
	position: absolute;
	text-align: center;
	padding: 20px;
	font: 12px sans-serif;
	background: var(--blueoverlay);
	border: 3px solid var(--highlightpurple);
	border-radius: 7px;
	pointer-events: none;
}

.gdp-tooltip table {
	min-width: 150px;
	margin-bottom: 0;
}

.gdp-tooltip h3 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}

.gdp-tooltip h3 span {
	font-weight: 200;
	color: rgba(255,255,255,.7)
}


.gdp-tooltip table th {
	background-color: transparent;
	text-align: right;
	width: 50%;
	padding-top: 10px;
	border-top:1px solid var(--darkpurple);

}

.gdp-tooltip table td {
	width: 50%;
	padding-top: 10px;
	border-top:1px solid var(--darkpurple);

}

.popularity-tooltip {
	position: absolute;
	text-align: center;
	padding: 15px;
	font: 12px sans-serif;
	background: #20126e;
	border: 5px solid rgba(32,18,110, .2);
	border-radius: 8px;
	pointer-events: none;
}

.cities {
	opacity: 0.5;
}

/*Slide 9: Parallel Coord styles*/
#parallel-coord-vis {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 70vh;
	margin-top: 10px;
}

#report-card {
	height: 100%;
	width: 100%;
}

#parallelTooltip {
	padding-bottom: 5px;
}

#sport-score {
	font-weight: bold;
}

#sport-table {
	font-size: 14px;
	height: 80%;
}

#accessibility-title {
	margin-left: 5px;
	background-color: var(--darkpurple);
	padding: 10px 10px 5px 10px;
	border-radius: 5px;
}

#features-title {
	margin-left: 5px;
	width: 75%;
	text-align: center;
	background-color: var(--darkpurple);
	padding: 10px 10px 5px 10px;
	border-radius: 5px;
}

.parallel-coord-vis-left {
	background-color: var(--lighterpurple);
	padding: 5px 5px 10px 20px;
	margin-right: 0px;
	margin-bottom: 4%;
	width: 95%;
	border-radius: 5px;
}

.sig {
	font-size: 12px;
	padding-top: 5%;
	text-align: center;
	vertical-align: text-top;
}

.gdp-bylines {
	fill: rgba(255,255,255,.7);
	font-size: 13px;
	font-style: italic;
}

.chart-titles {
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 15px;
	font-weight: 300;
	text-anchor: middle;
	fill: rgba(255,255,255,.7);
}


.gdp-year {
	fill: rgba(255,255,255,.7);
	background-color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 300;
	text-anchor: middle;
}


.padding-bottom-thin{
	padding-bottom: 20px;
}


.income-plot-label {
	font-size: 13px;
	fill: #d1cde2;
}

.hostPlotLabel{
	font-size: 13px;
	fill: #d1cde2;
}

.gdp-key div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gdp-key div div {
	width: 12px;
	height: 12px;
	margin-right: 10px;
}

.gdp-key {
	width: 50%;

}


.gdp-legend {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#gdp-size-legend {
	width: 50%;
	height: 150px;
}

.size-legend-line {
	stroke: rgba(255,255,255,.5);
	stroke-dasharray: 3,3;
}

.size-legend-text {
	fill: rgba(255,255,255,.8);
	font-size: 12px;
}

.size-legend-title {
	fill: rgba(255,255,255,.8);
	text-anchor: middle;
	font-size:14px;
}

.western {
	background-color: var(--blueoverlay);
}

.russia {
	background-color: var(--red);
}

.east-asia {
	background-color: #FE7F2D;
}

.central-asia {
	background-color: var(--green);
}

.latin-america {
	background-color: var(--blue);
}

.africa {
	background-color: var(--yellow);
}

#play-button {
	border: none;
	border-radius: 5px;
	background-color: var(--highlightpurple);
	padding: 10px 20px;
	color: white;
	font-weight: 300;
}

#play-button {
	cursor: pointer;
}

.animation-toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-top: 30px;
	background-color: var(--blueoverlay);
	border-radius: 7px;
	padding: 10px 15px;
}

.slider-toggle {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.slider-range-value {
	line-height: 1.2em;
}

#slider {
	width: 70%;
	margin-right: 20px;
	background: var(--blueoverlay);
	margin-top: 2px;
}


#popularity-vis {
	height: 70vh;
	width: 100%;
	background-color: var(--blueoverlay);
	border-radius: 7px
}

.slide-heading {
	width: 100%;
	height: 15vh;
	position: absolute;
	margin-left: -8vw;
	margin-top: -15vh;
	text-align: left;
	border-bottom: 1px solid #533f72;
	z-index: 1000;
	padding: 0px 40px;
}

.slide-heading-text {
	display: flex;
	flex-direction: column;
	height: 15vh;
	justify-content: flex-end;
	padding: 25px;
}

.bottom-border {
	border-bottom: 3px solid #6640a0;
	position: absolute;
	left: 0;
	right: 40%;
	bottom: 0;
}

.bottom-border:after {
	position: absolute;
	bottom: -7px;
	right: 0;
	left: auto;
	height: 10px;
	width: 10px;
	background: #6640a0;
	content: "";
	border-radius: 5px;
}

.slide-heading h1 {
	font-weight: 600;
	font-size: 2vw;
	color: rgb(255, 255, 255);
	top: 10px;
	text-transform: uppercase;
	letter-spacing: .10em;
	margin-bottom: 0px;
	line-height: 1em;

}

.slide-heading h2 {
	font-weight: 200;
	font-size: 1.5vw;
	color: #6640a0;
	margin-top: 0px;
	line-height: 1em;
	letter-spacing: .05em;

}

.slide-text {
	text-align: left;
}

.slide-text h1 {
	text-transform: uppercase;
	letter-spacing: .15em;
	text-align: left;
	font-size: 15px;
	color: #9e72e3;
	margin: 25px 0 5px 0;
}

a {
	color: rgba(255,255,255,.8);
	text-decoration: underline;
}

.note {
	background-color: var(--lighteroverlay);
	padding: 15px;
	margin: 20px auto;
	color: rgba(255,255,255,.7);
}

.findings {
	position: relative;
	background-color: var(--highlightpurple);
	padding: 20px;
	border-radius: 5px;
	margin: 40px 0;

}

.findings h1 {
	margin: 5px 0 5px 0;
	color: rgba(255,255,255,.5);
}

.emphasis {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.2em;
}

.triangle {
	display: block;
	height: 20px;
	width: 20px;
	background-color: inherit;
	border: inherit;
	position: absolute;
	left: -10px;
	bottom: calc(50% - 10px);
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(-315deg);
	border-radius: 0 0 0 0.25em;
}

.triangle-right {
	display: block;
	height: 20px;
	width: 20px;
	background-color: inherit;
	border: inherit;
	position: absolute;
	right: -10px;
	bottom: calc(50% - 10px);
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(-135deg);
	border-radius: 0 0 0 0.25em;
}


.slide-text {
	margin: auto 0;
}

.slide-text .gdp {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slide-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	margin-top: 4vh;
}

.box {
	animation: rotate 5s linear infinite;
	background-color: var(--offwhite);
	border-radius: var(--br-blobby);
	padding-top: 40%;
	padding-bottom:40%;
	height: 150px;
	width: 150px;
	transition: 0.3s linear;
	position:relative;
	left:40px;
	top:10px;
}

.box::after {
	content: '';
	background-color: var(--offwhite);
	border-radius: var(--br-blobby-after);
	position: absolute;
	opacity: 0.5;
	top: -2%;
	left: -2%;
	height: 104%;
	width: 104%;
	transition: 0.3s linear;
}

.box::before {
	content: '';
	background-color: var(--offwhite);
	border-radius: var(--br-blobby-before);
	position: absolute;
	opacity: 0.5;
	top: -4%;
	left: -4%;
	height: 108%;
	width: 108%;
	transition: 0.3s linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

:root {
	--br-blobby: 50%;
	--br-blobby-before: 50%;
	--br-blobby-after: 50%;
}

.sources {
	font-size: 12px;
	text-align: center;
	vertical-align: text-top;
}

.authors {
	height: 80%;
}

.footnote {
	height:20%;
	padding-top: .5%;
}

hr {
	background-color: var(--offwhite);
}

.margin0{
	margin-top:0px;
}
#conclusion{
	background-color: var(--lighteroverlay);
	padding: 30px;
}

.authorImg{
	width: 150px;
	height:auto;
	position:absolute;
	top:50px;
	left:50px;
}

