body {
	font-family: "Roboto Light";
}

h1 {
	font-size: 36px;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	color: #0286c3;
}


h2 {
	color: #868686;
	font-size: 20px;
}


.slide {
	display: flex;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 712px;
	padding: 10%;
}

.padding-bottom{
	padding-bottom: 50px;
}

.padding-top-thin{
	padding-top: 5%;
}

#slide1{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

#slide2{
	text-align: center;
}

#title{
	font-size: 40px;
	font-family: Oswald, Arial, Helvetica, sans-serif;
	color: #0286c3;
	margin-top: 40px;
	margin-bottom: 10px;
}

#subtitle{
	color: #ee2f4d;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 10px;
}

#title-img{
	width: 50%;
	height: auto;
}

.olympic-blue{
	color: #0286c3;
}

.background-grey {
	background-color: #eeeeee;
}

#vis1-img{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.width-100{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

