@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url("https://use.typekit.net/rfo7yex.css");

:root {
	--darkpurple: #0c0223;
	--lighterpurple: #15042d;
	--yellow: #FBB22E;
	--blue: #0286C3;
	--green: #168C39;
	--red: #EE2F4D;
	--gray: #868686;
	--offwhite: rgba(255,255,255,.9);
	--lighteroverlay: rgba(255,255,255,.04)
}

body {
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	background-color: var(--lighterpurple);
	color: #d1cde2;
}

h1 {
	font-size: 36px;
	font-family: 'sofia-pro', sans-serif;
	color: white;
	font-weight: 400;
}


h2 {
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: var(--offwhite);
	font-size: 20px;
	font-weight: 300;
}

h3 {
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: var(--offwhite);
	font-size: 15px;
	font-weight: 300;
}


.slide {
	display: flex;
	position: relative;
	width: 100vw;
	height: 100vh;
	min-height: 712px;
	padding: 8%;
}

.padding-bottom{
	padding-bottom: 50px;
}

.padding-top-thin{
	padding-top: 4%;
}

#slide1{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

#slide2, #slide10{
	text-align: center;
}

#title{
	font-size: 40px;
	font-family: 'sofia-pro', Arial, Helvetica, sans-serif;
	color: var(--blue);
	margin-top: 40px;
	margin-bottom: 10px;
}

#subtitle{
	color: var(--red);
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 10px;
}

#title-img{
	width: 50%;
	height: auto;
}

.olympic-blue{
	color: var(--blue);
}

.background-grey {
	background-color: var(--darkpurple);
}

#vis1-img{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.width-100{
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#measure-vis {
	width: 100%;
	margin: 0 auto;
	height: 90%;
}

.svgTitle {
	font-family: 'Roboto Light', sans-serif;
	font-weight: 300;
	color: var(--gray);
	font-size: 20px;
}

.axis line,
.axis path {
	fill: none;
	stroke: var(--gray);
	shape-rendering: crispEdges;
}

.athlete-weight-height {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 80vh;
	border-radius: 7px;
	margin-top: 20px;
}

.measures-left {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}

.athlete-gender-age {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 40vh;
	padding: 20px;
}

.toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

.bootstrap-table {
	overflow-y: scroll;
	border-radius: 5px;
	background-color: var(--lighterpurple);
	color: var(--offwhite);
	width: 100%;
}

.fixed-table-container {
	width: 100%;
}

table.table-bordered{
	border: none;
}

.fixed-table-border{
	border: none;
}
.bootstrap-table .fixed-table-container.fixed-height .table thead th + th {
	border: none;
	box-shadow: 4px 0 0px -2px var(--lighterpurple) inset;
}
.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
	border-bottom: none;
}

.fixed-table-footer {
	display: none;
}

thead {
	border-radius: 0;
	border: 2px solid var(--lighterpurple);
}

table.table-bordered > thead > tr > th{
	border: none;
}
table.table-bordered > tbody > tr > td{
	border: none;
}

th {
	font-weight: 300;
	font-size: 14px;
	background-color: var(--lighteroverlay)
}

.header{
	position:sticky;
	top: 0 ;
}

#gender-ratio {
	width: 100%;
	height: 100%;
}

#age-range {
	width: 100%;
	height: 100%;
}

.weight-height-vis-container {
	height: 60%;
	background-color: var(--darkpurple);
	padding: 17px;
	border-radius: 5px;
}

.weight-height-vis-container h2, .gender-age-vis-container h2 {
	color: var(--offwhite);
}

.gender-age-vis-container {
	height: 18%;
	background-color: var(--darkpurple);
	padding: 17px;
	border-radius: 5px;
	margin-top: 2%;
}

.weight-height-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10%;
}

#measure-vis {
	width: 100%;
	margin: 0 auto;
	height: 85%;
}


#userAge, #userGender, #userHeight, #userWeight {
	display: flex;
}

#userGender {
	height: 30px;
	color: #666e76;
}

#user-physical-trait-vis {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}

.btn-physical {
	background-color: var(--blue);
	border: none;
	font-family: 'Roboto', sans-serif;
}

.node-labels {
	text-anchor: middle;
}

#nodeTooltip {
	font-family: 'Roboto', sans-serif;
}

h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

h6 {
	font-family: 'Roboto Light', sans-serif;
	font-size: 13px;
}


.income-plot-dashboard {
	width: 100%;
	height: 70vh;
	border-radius: 10px;
}

/*Slide 5: Athlete hometown map*/

.hometown-map-dashboard {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 70vh;
	margin-top: 20px;
}

#household-income-map {
	height: 100%;
	width: 100%;
}

#incomeMapTooltip, #parallelTooltip {
	border: thin solid grey;
	border-radius: 5px;
	background: var(--darkpurple);
	padding: 15px;
}

#income-map-tooltip-title {
	color: #ee2f4d;
}

.text-light {
	color: #d1cde2;
}

#income-map-text {
	color: #ee2f4d;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill: rgb(158, 202, 225); }
.q4-9 { fill: rgb(107, 174, 214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill: rgb(8, 81, 156); }
.q8-9 { fill: rgb(8, 48, 107); }

.income-legend-label {
	fill: #d1cde2;
	font-size: 13px;
}

.hometown-map-left {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid var(--lighteroverlay);
	background-color: var(--lighteroverlay);
}

#toggleIncomeMap {
	padding: 5px;
	width: 10%;
	height:90%;
	vertical-align: middle;
	margin-left: 10px;
}

#toggleIncomeMapLabel {
	margin-left: 10px;
}

.color-key {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.color-key span {
	margin: 0 10px;
}

.green {
	width: 12px;
	height: 12px;
	background-color: green;
}

.orange {
	margin-left: 30px;
	width: 12px;
	height: 12px;
	background-color: orange;
}

#gender {
	padding: 10px;
	margin-left: 10px;
	background-color: var(--lighteroverlay);
	border-radius: 5px;
	border: none;
	color: var(--offwhite);
	font-weight: 400;
}

.x-grid path {
	stroke: none;
}

.x-grid .tick line {
	stroke: rgba(255,255,255,.1)
}

.gender-line {
	stroke: rgba(255,255,255,.1)
}

.count {
	fill: rgba(255,255,255,.4);
	font-weight: 300;
}

#toggleIncomePlotLabel {
	padding: 5px;
	float: right;
}

#toggleIncomePlot {
	width: 140px;
	padding: 5px;
	margin-left: 10px;
}

#gdp-vis {
	width: 100%;
	height: 80vh;
	background-color: #e2e2e2;
	border-radius: 10px;
}

.hostLegend {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 15%;
}

#hostVisLegend {
	padding: 5px;
}

.host-country-wins {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 55vh;
	padding: 15px;
	border-radius: 10px;
}

.hostDashboard{
	height: 70vh;
	background-color:whitesmoke;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.hostBlueDot {
	width: 12px;
	height: 12px;
	background-color: green;
}

.hostPlotLabel .incomePlotLabel {
	color: #d1cde2;
}

.gdp-tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.cities {
	fill: #ee2f4d;
	opacity: 0.5;
}

#parallel-coord-vis {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 60vh;
	margin-top: 20px;
}

#report-card {
	height: 100%;
	width: 100%;
}

#sport-score {
	font-weight: bold;
}

.sig {
	font-size: 12px;
	padding-top: 20%;
	text-align: center;
}

.gdp-bylines {
	fill: #6d6d6d;
	font-size: 13px;
	font-style: italic;
}

.gdp-titles {
	fill: #6d6d6d;
	font-size: 17px;
	font-weight: 300;
	text-anchor: middle;
}

.gdp-year {
	fill: #6d6d6d;
	background-color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 300;
	text-anchor: middle;
}

.padding-bottom-thin{
	padding-bottom: 20px;
}


.income-plot-label {
	font-size: 13px;
	fill: #d1cde2;
}

.gdp-key div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.gdp-key div div {
	width: 12px;
	height: 12px;
	margin-right: 10px;
}

.western {
	background-color: #b0b0b0;
}

.russia {
	background-color: #C44D5B;
}

.east-asia {
	background-color: #FE7F2D;
}

.central-asia {
	background-color: #A1C181;
}

.latin-america {
	background-color: #233D4D;
}

.africa {
	background-color: #FCCA46;
}

#play-button {
	border: none;
	border-radius: 5px;
	background-color: #dbdbdb;
	padding: 10px 20px;
	color: #676767;
	font-weight: 300;
}

#play-button {
	cursor: pointer;
}

.animation-toggle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-top: 30px;
}

.slider-toggle {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

#slider {
	width: 70%;
	margin-right: 20px;
}


#popularity-vis {
	height: 70vh;
	width: 100%;
}

